# Project dependencies (should never be uploaded to GitHub)
node_modules/

# Build/Production Folders
dist/
build/
.next/
out/

# System error logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variable files (where passwords and API keys are stored)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# User Data Files (Ignore the candidate's actual data, keep only the sample files in Git)
frontend/src/app/data/*.ts
!frontend/src/app/data/*.ts.example
